<% provide(:title, 'главная страница') %>

<div class="container">
  <div class="row margin-top-40 margin-bottom-40">
    <div class="col-md-8">
      <h2>
        Сделать, продать, доставить - проще простого!</h2>
        <p class="lead">Попробуйте market by market бесплатно</p>

    </div>
    <div class="col-md-4 text-right"><%= link_to "Зарегистрироваться", signup_path, class: "btn btn-lg btn-info", role: "button" %></div>
  </div>
</div>

<div class="responsive-img">
</div>

<div class="container">
  <div class="row margin-top-80">
    <div class="col-md-12">
      <h1 class="text-center">Market by market и это всё что вам нужно для<br>управления бизнесом</h1>
      <p class="lead">
        При этом совершенно не важно каким именно бизнесом управлять. Будь то большое производство тканей,
        или маленькая фабрика детских игрушек, склад поставки душевых кабин, или розничный интернет магазин
        товаров для животных, международня логистическая компания или просто региональный перевозчик.
      </p>
    </div>
  </div>
</div>
