<div class="form-group">
  <label for=<%= "#{ name.to_s.gsub("_", "-") }" %> class="col-sm-3 control-label">
    <%= label_text + ("*" if required_field).to_s %>
  </label>
  <div class="col-sm-<%= size ||= "7" %>">
    <%= class_name.text_field(name,
                              id: name.to_s.gsub("_", "-"),
                              class: "form-control",
                              type: input_type ||= "text") %>
  </div>
</div>