/* Colors */

$Turquoise: #1ABC9C;
$GreenSea: #16A085;
$Emerald: #2ECC71;
$Nephritis: #27AE60;
$PeterRiver: #3498DB;
$BelizeHole: #2980B9;
$Amethyst: #9B59B6;
$Wisteria: #8E44AD;
$WetAsphalt: #34495E;
$MidnightBlue: #2C3E50;
$DarkBlue: #172029;
$BlackBlue: #0f161c;
$SunFlower: #F1C40F;
$Orange: #F39C12;
$Carrot: #E67E22;
$Pumpkin: #D35400;
$Allizarin: #E74C3C;
$Pomegranate: #C0392B;
$PinkFire: #EA1D44;
$White: #FFFFFF;
$Clouds: #ECF0F1;
$WhiteSmoke: #F5F5F5;
$MidWhiteSmoke: #ededed;
$DarkWhiteSmoke: #dedede;
$Silver: #BDC3C7;
$Concrete: #95A5A6;
$Asbestos: #7F8C8D;

/* Text colors */
$DefaultText: #333333;

