@import "custom_colors";
@import "custom_margins";
@import "custom_typography";
@import "custom_img";

html, body {
  overflow-y: scroll;
  background-color: $WhiteSmoke;
}

#wrapper {
  position: relative;
}

#nav-left {
  background-color: $MidnightBlue;
  width: 250px;
  float: left;
}

#content {
  background-color: $Clouds;
  float: left;
}

.panel-sm {
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}

.panel-sm {
  max-width: 750px;
}