@import "custom_colors";
@import "custom_margins";
@import "custom_typography";
$SidebarWidth: 250px;
$SidebarBgColor: $MidWhiteSmoke;
$SidebarUiBgColor: $MidWhiteSmoke;
$SidebarLiColor: $MidWhiteSmoke;
$SidebarLiHoverColor: $MidWhiteSmoke;
$SidebarLiActivColor: $MidWhiteSmoke;

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: $SidebarWidth;
  width: $SidebarWidth;
  background: $SidebarBgColor;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  li {
    background: $SidebarUiBgColor;
  }
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: $SidebarWidth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  list-style: none;
  .icon {
    width: 34px;
    float: left;
  }
  .fa {
    display: inline;
    padding-right: 10px;
  }
  .angle {
    line-height: 40px;
  }
}

.sidebar-nav li a {
  color: $DefaultText;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: $Turquoise;
  background: $SidebarBgColor;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
  background: $SidebarBgColor;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
  background: $SidebarBgColor;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: $SidebarBgColor;
}

.content-header {
  line-height: 65px;
  min-height: 65px;
  margin-bottom: 30px;
  #btn-menu-toogle {
    border-bottom: 1px solid $DarkWhiteSmoke;
  }
  .title {
    color: $Concrete;
  }
  #current-user {
    height: 65px;
    position: absolute;
    right: 15px;
    z-index: 1;
    img,p {
      display: inline-block;
    }
    a, a:hover, a:focus {
      text-decoration: none;
      color: $DefaultText;
    }
    .dropdown-menu .fa {
      padding-right: 10px;
    }
  }
}

.content-header h1 {
  margin: 0;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: $SidebarWidth;
  }

  #wrapper.active #sidebar-wrapper {
    left: $SidebarWidth;
    width: $SidebarWidth;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
  }

  .content-header {
    .title {
      height: 100px;
      line-height: 130px;
    }
  }
}