@import "custom_colors";
@import "custom_margins";
@import "custom_typography";
$SidebarWidth: 250px;
$SidebarBgColor: $DimWhiteSmoke;
$SidebarUiBgColor: $DimWhiteSmoke;
$SidebarLiColor: $DimWhiteSmoke;
$SidebarLiHoverColor: $DimWhiteSmoke;
$SidebarLiActivColor: $DimWhiteSmoke;

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: $SidebarWidth;
  width: $SidebarWidth;
  background: $SidebarBgColor;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  li {
    background: $SidebarUiBgColor;
  }
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: $SidebarWidth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  list-style: none;
  .icon {
    width: 34px;
    float: left;
  }
  .fa {
    display: inline;
    padding-right: 10px;
  }
  .angle {
    line-height: 40px;
  }
}

.sidebar-nav li.sidebar-menu a {
  color: $DefaultText;
  display: block;
  text-decoration: none;
}

.sidebar-nav li.sidebar-menu a:hover {
  color: $White;
  background: $Asbestos;
  text-decoration: none;
}

.sidebar-nav li.sidebar-menu a:active,
.sidebar-nav li.sidebar-menu a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  padding-top: 15px;
  height: 100px;
  background: $SidebarBgColor;
}

.sidebar-nav > .sidebar-brand a {
  background: $SidebarBgColor;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: $SidebarBgColor;
}

.sidebar-nav p,
.sidebar-nav span,
.sidebar-nav small {
  margin-left: 20px;
}

.content-header {
  line-height: 30px;
  min-height: 100px;
  background-color: $White;
  #btn-menu-toogle {
    border-bottom: 1px solid $DarkWhiteSmoke;
    height: 70px;
    #menu-toggle {
      margin-top: 15px;
      border: none;
    }
  }
  .title {
    margin-top: 15px;
  }

  h1 {
    margin: 0;
    display: inline-block;
  }

  #current-user {
    height: 65px;
    position: absolute;
    margin-top: 10px;
    right: 15px;
    z-index: 1;
    img,p {
      display: inline-block;
    }
    a, a:hover, a:focus {
      text-decoration: none;
      color: $DefaultText;
    }
    .dropdown-menu .fa {
      padding-right: 10px;
    }
  }
}

#content-header-shadow {
  height: 15px;
  background: asset-url("content_header_shadow.png", image) top repeat-x;
  margin-bottom: 30px
}

#menu-toggle {
  display: none;
}

@media (max-width:767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: $SidebarWidth;
  }

  #wrapper.active #sidebar-wrapper {
    left: $SidebarWidth;
    width: $SidebarWidth;
    transition: all 0.4s ease 0s;
  }



  .content-header {
    min-height: 160px;
    #menu-toggle {
      display: inline-block;
    }
  }

  .page-content {
    .inline-group {
      .form-control,
      input{
        margin-bottom: 15px;
      }
    }
  }
}