@import "custom_colors";
@import "custom_margins";
@import "custom_typography";

/* Content */


/* Footer */

#footer {
  margin-top: 40px;
  margin-bottom: 40px;
  .first {
    padding-top: 40px;
    border-top: 1px solid $Silver;
  }
}

.bg-img {
  /* background-color: $MidWhiteSmoke; */
  background: image-url("bg_sign.jpg") 100% 100% repeat;
  background-size: cover;
}

/* Inputs with icons inside */
.left-inner-addon-projectname {
  position: relative;
}

.left-inner-addon-projectname input {
  padding-left: 158px;
}

.left-inner-addon-projectname i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}

.left-inner-addon-projectname span {
  position: absolute;
  padding: 7px 30px;
  pointer-events: none;
}

@media (min-width: 480px) {
  .fix-width {
    width: 400px;
  }
}