@import "custom_colors";
@import "custom_margins";
@import "custom_typography";

/* Content */

.sign-up-form {
  background-color: $WhiteSmoke;
}

/* Footer */

#footer {
  margin-top: 40px;
  margin-bottom: 40px;
  .first {
    padding-top: 40px;
    border-top: 1px solid $Silver;
  }
}

.bg-img {
  background: asset-url("bg_sign.jpg", image) bottom no-repeat;
  background-size: cover;
}