
<li class="sidebar-brand"><a href="#">Market by market</a></li>
<li><a href="#"><i class="glyphicon glyphicon-shopping-cart"></i>Заказы</a></li>
<li><a href="#"><i class="glyphicon glyphicon-chevron-down"></i>Задачи</a></li>
<li><a href="#"><i class="glyphicon glyphicon-gift"></i>Товары</a></li>
<li><a href="#"><i class="glyphicon glyphicon-phone-alt"></i>Контакты</a></li>
<li><a href="#"><i class="glyphicon glyphicon-euro"></i>Финансы</a></li>
<li><a href="#"><i class="glyphicon glyphicon-user"></i>Сотрудники</a></li>
<li><a href="#"><i class="glyphicon glyphicon-stats"></i>Отчеты</a></li>
<li><a href="#"><i class="glyphicon glyphicon-wrench"></i>Настройки</a></li>